﻿@model RentCar3ASP.Models.RentalModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priceperday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priceperday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estimated_Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimated_Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRental }) |
    @Html.ActionLink("Back to List", "Index")
</p>
