﻿@model IEnumerable<RentCar3ASP.Models.RentalModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priceperday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimated_Km)
        </th>
        @if (Roles.IsUserInRole("admin"))
        {
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priceperday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimated_Km)
        </td>
        @if (Roles.IsUserInRole("admin"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
                @* linkText, actionName, controllerName, routeValues, htmlAttributes *@
                @Html.ActionLink(" | Details", "Details", new  { Controller = "Person", action = "Details", id = item.PersonId }) 
            </td>
        
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRental }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRental }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRental })
        </td>
    </tr>
}

</table>
