﻿@model RentCar3ASP.Models.PersonModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonModels</h4>
    <hr />
 
    <h6>Role : @ViewBag.role</h6>
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driving_habits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driving_habits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_experience)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPerson }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    