﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Roles.IsUserInRole("user"))
            {
                @Html.ActionLink("Hi " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
            @if (Roles.IsUserInRole("admin"))
            {
                @Html.ActionLink("Hi " + User.Identity.GetUserName() + "! (admin)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
            @if (Roles.IsUserInRole("manager"))
            {
                @Html.ActionLink("Hi " + User.Identity.GetUserName() + "! (manager)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }

            
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        @if (Roles.IsUserInRole("user"))
        {
                <li>@Html.ActionLink("Car", "index", "Car")</li>
                <li>@Html.ActionLink("Rental", "index", "Rental")</li>
        }
        @if (Roles.IsUserInRole("admin"))
        {
            <li>@Html.ActionLink("Car", "index", "Car")</li>
            <li>@Html.ActionLink("Rental", "index", "Rental")</li>
            <li>@Html.ActionLink("Person", "index", "Person")</li>
        }
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
