﻿@{
    ViewBag.Title = "Home Page";
}

   <!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Rent a car online!</h1>
                    <p class="intro-text">
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
